/* CHOROPLETH CSS START */
#map,
body,
html {
  height: 80%;
  width: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}
/* CHOROPLETH CSS END */
/* Overall container */
.container-fluid {
  width: 100%;
  min-height: 95%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  background-color: #DCDCDC
}

/* Making body full length of screen */
html, body {
  height: 100%;
}

.navbar{
    background-color: rgb(117,187,178) ;
  }

/* Logo */
.navbar-brand{
    background-color:rgb(117,187,178);
    padding: 5px;
    font-size: 30px;
    margin-left: 25px;
    font-family: monospace;
  }

/* push navbar off right wall */
.navvy_bg {
  margin-top: 3px;
  margin-right: 50px;
} 

/* Full width, white header */
.theheader {
    width: 100%;
    padding: 0px;
}

/* Alters viewing height of content */
.row-background {
  min-height: 60vh;
  background-color: #DCDCDC;
  /* border-top: 50px solid #DCDCDC; */
}

/* Big section w/ image and paragraph */
#mapbox {
  background-color: #ffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 5px;
  border-top: 25px solid #DCDCDC;
  border-left: 75px solid #DCDCDC;
  border-right: 75px solid #DCDCDC;
  border-bottom: 25px solid #DCDCDC;
}

/* Big section w/ image and paragraph */
#flagbox {
  background-color: #ffff;
  padding-left: 130px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 5px;
  border-top: 25px solid #DCDCDC;
  border-left: 75px solid #DCDCDC;
  border-right: 75px solid #DCDCDC;
  border-bottom: 25px solid #DCDCDC;
}

.vizBar {
	padding: 6px 6px;
	text-decoration: none;
	float: center;}
			
.vizBar:hover {
	background-color: rgb(200, 200, 200);
	border-radius: 1px;}
	
#viz-img-boise {
	width: 150px;
	height: 120px;
	float: center;
	border-radius: 6px;}

.viz-img {
	width: 150px;
	height: 120px;
	float: center;
	border-radius: 6px;}
	
#comp-bar {
	position:center;
	text-decoration: none;}

#comp-bar:hover {
	background-color: rgb(226, 40, 15);
	border-radius: 4px;}

#comp-img {	
	width:435px;
	height:300px;
}

/* Paragraphs */
p {
  padding-top:10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /* line-height: 30px; */
}

hr {
  padding: 0px;
  margin: 0px !important;
}

/* Bottom/footer of page */
.copyright {
    background-color: #696969;
    border-top: 10px solid #116112 ;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    width:100%;
}

/* Small screen changes */
@media (max-width: 992px) {
  /* header */
  .theheader {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:#116112 ;
  }
  /* Make navbar taller */
  .navbar-brand {
    background-color:#116112 ;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #dataR {
    border-right: 30px solid #DCDCDC;
    border-left: 10px solid #DCDCDC;
  }
  #dataL {
    border-left: 30px solid #DCDCDC;
    border-right: 10px solid #DCDCDC;
  }
  #dataML {
    border-right: 30px solid #DCDCDC;
    border-left: 10px solid #DCDCDC;
  }
  #dataMR {
    border-left: 30px solid #DCDCDC;
    border-right: 10px solid #DCDCDC;
  }
  /* summary section */
  .bar_graph {
      padding:10px;
      padding-top: 0px;
      border-top: 25px solid #DCDCDC;
      border-bottom: 15px solid #DCDCDC;
      border-left: 30px solid #DCDCDC;
      border-right: 30px solid #DCDCDC;
  }
  /* visualization section */
  .line_graph {
      padding: 10px;
      padding-top: 0px;
      border-top: 15px solid #DCDCDC;
      border-bottom: 50px solid #DCDCDC;
      border-left: 30px solid #DCDCDC;
      border-right: 30px solid #DCDCDC;
  }
  /* background of dropdown in navbar */
  .navvy_bg {
    background-color:#ffff;
    padding-left: 10px;
    margin-right:0px;
  } 
  /* push dropdown menu items off the wall of page */
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 25px;
    margin-top: 2px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 2px;
  }
  /* push hamburger off right wall */
  .navbar-light .navbar-toggler {
    border-color: #ffff;
    margin-right: 30px;
  }
  /* Plots dropdown in navbar */
  .dropdown-toggle {
    margin-top: 0px;
    padding: 5px;
  }
  /* Change Plots (navbar) color when clicked */
  .navbar-light .navbar-nav .show>.nav-link {
    background-color: #DCDCDC;
    margin-top: 0px;
    border-radius: 5px;
    border: 2px solid #DCDCDC;
    padding: 5px;
  }
  /* Push box in dropdown menu away from edges */
  .dropdown, .dropleft, .dropright, .dropup {
    position: relative;
    padding-top: 10px;
  }
  /* Round edges in box around down menu */
  .dropdown-menu {
    border-radius: 10px;
  }
  /* Push box in dropdown menu away from edges */
  .dropdown, .dropleft, .dropright, .dropup {
    position: relative;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  /* Round edges in box around down menu */
  .dropdown-menu {
    border-radius: 10px;
  }
  /* Move dropdown menu away from margins */
  .dropdown-menu.show {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
  }
}